@import url("https://fonts.googleapis.com/css?family=Cookie|Lily+Script+One|Montserrat|Merriweather|Playfair+Display|Libre+Baskerville");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 196, 87);
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.logo {
  position: relative;
  top: 0;
  left: 0;
  margin: 3px;
}

.mtn-logo {
  width: 100%;
  display: flex;
  width: 23%;
}

nav {
  display: flex;
  justify-content: flex-end;
  border: solid 3px yellow;
}

.section {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fixedBtn-home {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  background-color: rgba(170, 201, 219, 0.438);
  border-radius: 10px;
}

.about {
  height: calc(100vh - 10vh);
  background-color: rgb(172, 172, 0);
}

.project {
  height: calc(100vh - 10vh);
  background-color: lightblue;
}

.contact {
  height: calc(100vh - 10vh);
  background-color: lightpink;
}

.footer {
  height: 10vh;
}

footer {
  height: 10vh;
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: blue;
  }

  /* .about {
    display: flex;
    flex-direction: column;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    flex-direction: column;
  } */
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
  body {
    background-color: green;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: red;
  }
}
