@import url("https://fonts.googleapis.com/css?family=Cookie|Lily+Script+One|Montserrat|Merriweather|Playfair+Display|Libre+Baskerville");

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: table;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: [foot-height];
}

/* p {
  font-size: 12px;
  line-height: 5px;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 10px 15px;
}

.initials {
  font-family: "Cookie", cursive;
  font-size: 40px;
}

.initials:before {
  content: "";
  width: 70px;
  height: 40px;
  background-color: rgb(103, 125, 165);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 45px;
  z-index: -2;
}

.initials:after {
  content: "";
  width: 14px;
  height: 13px;
  background-color: rgb(153, 146, 146);
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 73px;
  z-index: -1;
}

.logo {
  width: 50px;
  position: absolute;
  top: 5px;
  left: 55px;
  z-index: 0;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 25px;
  margin-top: 45%;
}

hr {
  margin: 30px 0 10px;
}

.nameCap {
  font-size: 40px;
  font-family: "Merriweather", serif;
  padding: -20px 0;
  margin: 30px 0 0;
}

.main-image {
  width: 70%;
  margin: 0px auto 0 10%;
}

.text {
  padding: 0px 40px;
}

h5 {
  margin: 0;
  font-size: 20px;
  position: relative;
  top: 0;
  left: 0;
}

h4 {
  margin: 0;
  text-align: left;
  font-size: 20px;
  /* position: absolute; */
}

h3 {
  margin: 0;
  text-align: right;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  position: relative;
  top: -18px;
}

h1 {
  font-size: 21px;
  color: rgb(16, 60, 206);
  font-weight: bolder;
  position: relative;
  top: -30px;
}

.footer-container {
  width: 100%;
  background-color: rgb(103, 125, 165);
  color: #fff;
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: [footer-height];
}

a {
  text-decoration: none;
  color: #fff;
}

.name {
  display: inline;
  cursor: pointer;
  font-size: 20px;
}

.logo2 {
  width: 12%;
  position: relative;
  top: 8px;
  left: -5px;
  z-index: 0;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
  margin: 5px;
}

ul.footer-links li:nth-child(1) img {
  width: 110%;
  position: relative;
  top: 6px;
}

/* ul.footer-links li:nth-child(2) img {
  width: 148%;
}

ul.footer-links li:nth-child(3) img {
  width: 60%;
  margin-left: 5px;
} */

nav ul {
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background-color: rgb(118, 138, 179);
  height: 100%;
  z-index: 5;
  padding-top: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 15px 30px;
  background-color: rgb(140, 159, 196);
}

nav ul li a:hover {
  background-color: rgb(161, 174, 201);
}

.exit-btn {
  margin-bottom: 15px;
  margin-top: 8px;
  text-align: right;
  padding: 0 20px;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
}
