@import url("https://fonts.googleapis.com/css?family=Cookie|Lily+Script+One|Montserrat|Merriweather|Playfair+Display|Libre+Baskerville");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: solid 3px purple;
}

li {
  display: inline-block;
  margin-left: 20px;
  border: solid 3px honeydew;
}

.wrapper {
  border: solid 3px aqua;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 196, 87);
  text-decoration: none;
  display: flex;
}

.logo {
  margin: 3px;
  border: solid 3px rgb(172, 172, 0);
}

.mtn-logo {
  width: 100%;
  display: flex;
  width: 33%;
  border: solid 3px green;
}

nav {
  display: flex;
  justify-content: flex-end;
  border: solid 3px yellow;
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: red;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

article {
  background-color: sienna;
}

.section {
  width: 100%;
  border: solid 3px fuchsia;
}

.fixedBtn-home {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 40px;
  background-color: rgba(170, 201, 219, 0.438);
  border-radius: 10px;
  z-index: 2;
}

.about {
  background-color: rgb(172, 172, 0);
  border: solid 3px chocolate;
}

.project {
  /* height: calc(100vh - 10vh); */
  background-color: lightblue;
  border: solid 3px chocolate;
}

.contact {
  /* height: calc(100vh - 10vh); */
  background-color: lightpink;
  border: solid 3px chocolate;
}

.footer {
  border: solid 3px darkorange;
}

footer {
  height: 10vh;
  background-color: rgb(255, 196, 87);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px firebrick;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: blue;
  }

  .love-container {
    text-align: center;
  }

  .list {
    background-color: hotpink;
  }

  .item {
    width: 300px;
    margin: 10px;
  }

  .item img {
    width: 290px;
    margin: 2px auto;
  }

  .item p {
    text-align: center;
    font-size: 15px;
  }

  .project {
    align-content: center;
  }

  .footer {
    text-align: center;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
  body {
    background-color: green;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: red;
  }
}
